.content {
  min-height: calc(100vh - 120px);
  background-color: rgb(86, 86, 86);
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 767px) {
  .content {
    min-height: calc(100vh - 110px);
  }
}

.infoContactenosTitle {
  font-family: infoMap, infoMap; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-top: 20px;
}

.infoContactenos {
  font-family: infoContactenos, infoContactenos; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: rgb(245, 245, 245);
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 20px;
}

@font-face {
  font-family: infoContactenos;
  src: url("./fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

/*Tarjeta de presentacion*/

#tarjeta {
  width: 300px;
  height: 150px;
  background-image: url("../images/tarjeta.jpg");
  background-size: cover;
  border-radius: 7px;
  border-style: outset;
  border-color: #00a2e8;
  border-width: 2px;
  margin-bottom: 20px;
}

.tarjera-img {
  text-align: center;
}

.tarjera-img img {
  height: 100px;
  width: 100px;
  margin-top: 25px;
  margin-left: 25px;
}

.tarjetaName {
  font-family: tarjetaData, tarjetaData; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: white;
  font-size: 25px;
  margin-top: 35px;
}

.tarjetaData {
  font-family: tarjetaData, tarjetaData; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: white;
  font-size: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.tarjetaData img {
  height: 25px;
  width: 25px;
}

@font-face {
  font-family: tarjetaData;
  src: url("./fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf");
}

/*Mapa*/

.infoMap {
  font-family: infoMap, infoMap; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: white;
  font-size: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
}

@font-face {
  font-family: infoMap;
  src: url("./fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf");
}

#map {
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

#map iframe {
  width: 100%;
  height: 350px;
  border-radius: 7px;
  border-style: outset;
  border-color: #e40082;
  border-width: 2px;
}
