#footer {
  background: #212529;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  clear: both;
}

#footer h6 {
  color: white;
}

#myName {
  background: radial-gradient(
    circle,
    rgba(0, 162, 232, 1) 0%,
    rgba(0, 88, 128, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#copyright {
  font-family: copyright, copyright; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: white;
  font-size: 18px;
}

@font-face {
  font-family: copyright;
  src: url("./fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf");
}
