.page-tupperware {
  background-color: rgb(86, 86, 86);
}

.bodyProduct {
  padding-right: 15px;
  padding-left: 15px;
}

.content-productos {
  min-height: calc(100vh - 120px);
}

@media (max-width: 767px) {
  .content-productos {
    min-height: calc(100vh - 110px);
  }
}

.padding-list-product {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

/* Lista de productos vacio */

.infoTupperware {
  font-family: infoTupperware, infoTupperware;
  color: #212529;
  font-size: 21px;
  margin-bottom: 25px;
  margin-top: 20px;
}

@font-face {
  font-family: infoTupperware;
  src: url("./fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

/* Paginacion */

.nav-pagination {
  padding-bottom: 1.5rem !important;
}

.fuente-pagination {
  font-family: regularPagination, regularPagination; /*Si no carga bien la fuente importada aplica la sans-serif*/
  color: black;
  font-size: 18px;
}

@font-face {
  font-family: regularPagination;
  src: url("./fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}

.anclaje {
  text-decoration: none;
}

.buttonControl {
  color: #e40082;
}

.buttonPage {
  color: #212529;
}
